{% extends 'base.html' %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container text-start mt-5">
  <div class="row">
    <div class="col-12 col-md-5">
      <h1>Welcome to the AFP Submission Portal!</h1>
      <p>This website is hosted by CAMH.</p>
      <p>If you have any questions, please contact Michael Joseph at <a
          href="mailto:josephmje.22@gmail.com">josephmje.22@gmail.com</a>.</p>
    </div>
    <div class="col-12 col-md-5">
      <h1>Login</h1>
      <form method="POST" autocomplete="off">
        {% csrf_token %}{{ form|crispy }}
        <button type="submit" class="btn btn-info mt-2">Login</button>
      </form>
      <small><a href="">Forgot login or password?</a></small>
    </div>
  </div>
</div>
{% endblock %}
