{% load static %}

<nav class="navbar navbar-dark bg-primary navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img class="logo" src="{% static 'images/camh_logo_white.png' %}" alt="brand" />
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      {% if user.is_authenticated %}
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link {% if request.resolver_match.url_name == 'home' %}active{% endif %}" href="/"><i
              class="fa fa-fw fa-home"></i>&nbsp; Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.resolver_match.url_name == 'award_list' %}active{% endif %}"
            href="{% url 'award_list' %}">Awards</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Promotion</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Research
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'book_list' %}">Books</a></li>
            <li><a class="dropdown-item" href="{% url 'conference_list' %}">Conference Abstracts</a></li>
            <li><a class="dropdown-item" href="{% url 'journal_list' %}">Journals</a></li>
            <li><a class="dropdown-item" href="{% url 'editorial_board_list' %}">Editorial Boards</a></li>
            <li><a class="dropdown-item" href="#">Grants</a></li>
            <li><a class="dropdown-item" href="{% url 'grantreview_list' %}">Grant Reviews</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Education
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'committee_list' %}">Committee Work</a></li>
            <li><a class="dropdown-item" href="{% url 'lecture_list' %}">Lectures</a></li>
            <li><a class="dropdown-item" href="{% url 'exam_list' %}">Exams (Thesis Defenses)</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.resolver_match.url_name == 'supervision_list' %}active{% endif %}"
            href="#">Supervision</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.resolver_match.url_name == 'supervision_list' %}active{% endif %}"
            href="#">CPA</a>
        </li>
      </ul>
      {% endif %}
    </div>
    <div>
      <ul class="navbar-nav">
        {% if user.is_superuser %}
        <li class="nav-item">
          <a class="nav-link" href="/admin">Admin</a>
        </li>
        {% endif %}
      </ul>
    </div>
    <div>
      <ul class="navbar-nav">
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'profile' %}"><i class="fa-solid fa-user"></i>&nbsp; Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/accounts/logout"><i class="fa-solid fa-right-from-bracket"></i>&nbsp;
            Logout</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="/accounts/login">Login</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
