{% extends 'base.html' %}
{% load static %}

{% block title %}CPA | {{ block.super }}{% endblock %}

{% block content %}
<br><br>

<div class="container text-center mt-5">
  <h1>CPA</h1>
</div>

<div class="container text-center mt-5">
  <a href="{% url 'add_cpa' %}" class="btn btn-secondary" style="width: 200px;" title="Add CPA">Add a
    CPA</a>
  <br><br>
  {% if cpa_list %}
  <table class="table table-condensed table-hover" id="tbl_cpa">
    <thead>
      <tr>
        <th style="width: 40%;">CPA</th>
        <th style="width: 45%;">Comments</th>
        <th style="width: 5%;">Eligible</th>
        <th style="width: 5%;">Value</th>
        <th style="width: 25%;">Decision Comments</th>
        <th style="width: 5%;">Edit</th>
        <th style="width: 5%;">Delete</th>
      </tr>
    </thead>
    {% for cpa in cpa_list %}
    <tr id="cpa-{{ cpa.pk }}" class="cpa-row">
      <td><a href="{{ cpa.cpa_file }}">{{ cpa.cpa_file }}</a></td>
      <td>{{ cpa.comments }}</td>
      <td>{{ cpa.get_eligible_display }}</td>
      <td>{{ cpa.cpa_value }}</td>
      <td>{{ cpa.decision_comments }}</td>
      <td>
        <a href="{% url 'edit_cpa' pk=cpa.pk %}" class="btn btn-secondary" title="Edit CPA">
          <i class="fas fa-pen"></i>
        </a>
      </td>
      <td>
        <a href="{% url 'delete_cpa' pk=cpa.pk %}" class="btn btn-secondary" title="Delete CPA">
          <i class="fas fa-trash-alt"></i>
        </a>
      </td>
    </tr>
    {% endfor %}
  </table>
  {% else%}
  <p>No CPA uploaded yet.</p>
  {% endif %}
</div>

<script>
  $(document).ready(function () {
    $("#tbl_cpa").DataTable({
      searching: false,
      paging: false,
      info: false,
    });
  })
</script>

{% endblock %}
