{% extends 'base.html' %}

{% block title %}Lectures | {{ block.super }}{% endblock %}

{% block content %}
<br><br>

<div class="container text-center mt-5">
  <h1>Lectures</h1>
</div>

<div class="container text-center mt-5">
  <a href="{% url 'add_lecture' %}" class="btn btn-secondary" style="width: 200px;" title="Add lecture">Add a
    lecture</a>
  {% if lectures %}
  <table class="table table-condensed table-hover" id="tbl_lecture">
    <thead>
      <tr>
        <th style="width: 20%;">Type</th>
        <th style="width: 20%;">Name</th>
        <th style="width: 15%;">Start Date</th>
        <th style="width: 5%;">Hours</th>
        <th style="width: 25%;">Is Cash?</th>
        <th style="width: 5%;"># Sessions</th>
        <th style="width: 5%;">Eligible</th>
        <th style="width: 5%;">Edit</th>
        <th style="width: 5%;">Delete</th>
      </tr>
    </thead>
    {% for lecture in lectures %}
    <tr id="lecture-{{ lecture.pk }}" class="lecture-row">
      <td>{{ lecture.lecture_type }}</td>
      <td>{{ lecture.name }}</td>
      <td>{{ lecture.start_date }}</td>
      <td>{{ lecture.hours }}</td>
      <td>{{ lecture.is_cash }}</td>
      <td>{{ lecture.num_sessions }}</td>
      <td>{{ lecture.get_eligible_display }}</td>
      <td>
        <a href="{% url 'edit_lecture' pk=lecture.pk %}" class="btn btn-secondary" title="Edit lecture">
          <i class="fas fa-pen"></i>
        </a>
      </td>
      <td>
        <a href="{% url 'delete_lecture' pk=lecture.pk %}" class="btn btn-secondary" title="Delete lecture">
          <i class="fas fa-trash-alt"></i>
        </a>
      </td>
    </tr>
    {% endfor %}
  </table>
  {% else %}
  <br><br>
  <p>No lectures entered yet.</p>
  {% endif %}
</div>

<!-- Turns on the DataTables plugin for the awards table -->
<script>
  $(document).ready(function () {
    $("#tbl_lecture").DataTable({searching: false});
  })

</script>

{% endblock %}
