{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Reset Password | {{ block.super }}{% endblock title %}
{% block content %}

<div class="container">
  <div class="card mt-5" style="width: 20rem; font-size: 14 px">
    <div class="card-body">
      <div class="text-center">
        <i class="fas fa-pen fa-2xl"></i>
        <br>
        <h4>Trouble logging in?</h4>
        <p>Enter your email and we'll send you a link to reset your password.</p>
      </div>
      <div method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="text-center">
          <input type="submit" class="btn btn-info mt-2 mb-3" value="Reset password" />
        </div>
        </form>
      </div>
      <div class="card-footer text-center">
        <a href="{% url 'login' %}">Back to login</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
