{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Edit Profile{% endblock %}

{% block content %}

<div class="container mt-3" style="width: 95%; font-size: 14 px">
  <form method="POST" class="card p-3 mt-5" autocomplete="off">
    <h2>Edit Profile</h2>
    {% csrf_token %}
    <div class="card p-3 mt-5">
      <h3>Basic Information</h3>
      <div class="row">
        <div class="col-4">{{ form.first_name|as_crispy_field }}</div>
        <div class="col-4">{{ form.middle_name|as_crispy_field }}</div>
        <div class="col-4">{{ form.last_name|as_crispy_field }}</div>
      </div>
      {{ form.email|as_crispy_field }}
      <div class="row">
        <div class="col-6">{{ form.division|as_crispy_field }}</div>
        <div class="col-6">{{ form.other_division|as_crispy_field }}</div>
      </div>
      {{ form.rank|as_crispy_field }}
      <div class="row">
        <button type="submit" class="btn btn-primary mt-3" style="width: 90px; margin: 5px;">Save</button>
        <a href="{% url 'home' %}" class="btn btn-secondary mt-3" style="width: 90px; margin: 5px;">Cancel</a>
      </div>
    </div>
    <div class="card p-3 mt-5">
      <h3>Login Options</h3>
      <a href="{% url 'password_change' %}" class="btn btn-primary mt-3" style="width: 180px; margin: 5px;">Change Password</a>
    </div>
  </form>
</div>

{% endblock %}
