{% extends 'claims/model_form.html' %}
{% load crispy_forms_tags %}

{% block form %}
  <div class="row">
    <div class="col-6">{{ form.exam_type|as_crispy_field }}</div>
    <div class="col-6">{{ form.other_exam_name|as_crispy_field }}</div>
  </div>
  <div class="row">
    <div class="col-6">{{ form.student|as_crispy_field }}</div>
    <div class="col-6">{{ form.other_student_name|as_crispy_field }}</div>
  </div>
  <div class="row">
    <div class="col-6">{{ form.date|as_crispy_field }}</div>
    <div class="col-6">{{ form.hours|as_crispy_field }}</div>
  </div>
{% endblock %}
