{% extends 'base.html' %}

{% block title %}Promotions{% endblock %}

{% block content %}
<br><br>

<div class="container text-center mt-5">
  <h1>Promotions</h1>
  <br>
</div>

<div class="container text-center mt-5">
  {% if promotions %}
  <table class="table table-condensed table-hover" id="tbl_promotions">
    <thead>
      <tr>
        <th style="width: 20%;">Promoted To</th>
        <th style="width: 25%;">Eligible</th>
        <th style="width: 5%;">Edit</th>
        <th style="width: 5%;">Delete</th>
      </tr>
    </thead>
    {% for promotion in promotions %}
    <tr id="promotion-{{ promotion.pk }}" class="promotion-row">
      <td>{{ promotion.promoted_to }}</td>
      <td>{{ promotion.get_eligible_display }}</td>
      <td>
        <a href="{% url 'edit_promotion' pk=promotion.pk %}" class="btn btn-secondary" title="Edit promotion">
          <i class="fas fa-pen"></i>
        </a>
      </td>
      <td>
        <a href="{% url 'delete_promotion' pk=promotion.pk %}" class="btn btn-secondary" title="Delete promotion">
          <i class="fas fa-trash-alt"></i>
        </a>
      </td>
    </tr>
    {% endfor %}
  </table>
  {% else%}
  <a href="{% url 'add_promotion' %}" class="btn btn-secondary" style="width: 200px;" title="Add promotion">Add a
    promotion</a>
  <br><br>
  <p>No promotion entered yet.</p>
  {% endif %}
</div>

<script>
  $(document).ready(function () {
    $("#tbl_promotions").DataTable({
      searching: false
      paging: false,
      info: false,
    });
  })

</script>

{% endblock %}
