{% extends 'base.html' %}

{% block title %}Publications{% endblock %}

{% block content %}
<br><br>

<div class="container text-center mt-5">
  <h1>Publications</h1>
  <br>
  <p>
    Only peer-reviewed publications are eligible.
    publications are credited at the time of publication in print or,
    in the case of online only journals, at the time the final version is available.
  </p>
  <br>
  <p>
    Conference abstracts are credited for junior faculty only (rank of Assitant Professor or lower) and only when first author.
  </p>
</div>

{% endblock %}
