{% extends 'partials/model_form.html' %}
{% load crispy_forms_tags %}

{% block form %}
{{ form.supervision_type|as_crispy_field }}
<div class="row">
  <div class="col-6">{{ form.student_name|as_crispy_field }}</div>
  <div class="col-6">{{ form.resident_year|as_crispy_field }}</div>
</div>
<div class="row">
  <div class="col-2">{{ form.hours|as_crispy_field }}</div>
  <div class="col-2">{{ form.duration|as_crispy_field }}</div>
  <div class="col-8">{{ form.frequency|as_crispy_field }}</div>
</div>
{% endblock %}
